body {
    margin: 0;
}

.container {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
}

p {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.container p:last-child {
    margin-bottom: 0;
    padding: 0;
}

header {
    width: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

/*
.logo {
    width: 80px;
    height: 100%;
    background-color: brown;
    float: left;
    margin-left: 20%;
    margin-right: calc(-20% - 80px);
}
*/


section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.wrap-meniu {
    width: 100%;
    height: 49px;
    background-color: #cbcbcb;
}

ul.meniu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

ul.meniu li {
    float: left;
}

ul.meniu li a {
    display: block;
    text-decoration: none;
    color: #000;
    font-family: sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

ul.meniu li a:hover {
    
    background-color: cornflowerblue;
    color: #fff;
}

ul.sub-meniu {
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.13);
    width: 250px;
    position: absolute;
    opacity: 0;
    transition: all 0.25s;
    background: #fff;
    display: none;
}

ul.meniu li:nth-child(3) {
  position: relative;
}

ul.meniu li:nth-child(3):hover ul.sub-meniu {
    display: block;
    opacity: 1;
}

ul.sub-meniu li {
    float: none;
}

* {
  box-sizing: border-box;
}

.grid-container {
    display: grid;
/*    grid-template-areas: 'left left middle middle right right';*/
    grid-template-columns: auto auto auto;
     grid-gap: 10px;
    
}

/*
.left,
.middle,
.right {
    padding: 10px;
    height: 300px;  
}
*/

/*

.left {
    grid-area: left;
}

.middle {
    grid-area: middle;
}

.right {
    grid-area: right;
}
*/

.intro-turism {
    width: 100%;
    padding-top: 200px;
    padding-bottom: 200px;
    background: url('../img/turism-intro.jpg');
    background-size: cover;
    background-position: center center;
}

.intro-turism {
    font-size: 35px;
    color: #fff;
    text-align: center;
    font-family: sans-serif
}


section.intro {
   
}

.obiective .left img{
    width: 400px;
    height: auto;
}

.obiective .middle img{
    width: 400px;
    height: auto;
}

.obiective .right img{
    width: 400px;
    height: auto;
}

.obiective .continut {
    padding: 20px;
}
.obiective .continut p{
    color: #fff;
}


/************FOOTER******/
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #cbcbcb;
    text-align: center;
    display: flex;
    justify-content: center;
}
.footer{
    align-content: center;
    float:left;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.facebook{
    display: block;
    background: url('../img/facebook.png');
    width: 30px;
    height: 30px;
    background-size: contain;
    float: left;
    margin-right: 30px;
}

.youtube{
    display: block;
    background: url('../img/youtube.png');
    width: 30px;
    height: 30px;
    background-size: contain;
    float: left;
    margin-right: 30px;
}


.what{
    display: block;
    background: url('../img/what.png');
    width: 30px;
    height: 30px;
    background-size: contain;
    float: left;
}

button {
    width: 200px;
    background: crimson;
    color: #fff;
    max-width: 200px;
    margin: 0 auto;
    cursor: pointer;
}
/************FOOTER-END******/

.media {
    display: flex;
    justify-content: center;
    background: crimson;
}

/***********TABLET***********/
@media screen and (max-width: 1400px) and (min-width: 751px) {
    
    .container {
        width: 90%;
        max-width: 90%;
    }
    
    .grid-container {
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    
    .obiective .right img {
        width: 100%;
    }
    
    .obiective .left img {
        width: 100%;
    }
    
    .obiective .middle img {
        width: 100%;
    }
    
    .obiective .right {
        width: 202%;
    }
}
/***********TABLET END***********/

/***********MOBILE***********/
@media screen and (max-width: 750px) {
    
    .container {
        width: 100%;
        max-width: 100%;
    }
    
    .grid-container {
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    
    .obiective .right img {
        width: 100%;
    }
    
    .obiective .left img {
        width: 100%;
    }
    
    .obiective .middle img {
        width: 100%;
    }
    
    iframe {
        width: 100%;
    }
    
    .intro-turism {
        padding-top: 140px;
        padding-bottom: 140px;
    }
    
    .intro-turism h1{ 
      font-size: 35px;
    }
}
/***********MOBILE END***********/

.grid-container a {
    text-decoration: none;
}

.grid-container p {
    transition: all 0.25s;
}

.grid-container a:hover p{
    color: crimson;
}

.grid-container a > div {
    transition: all 0.25s;
}


.grid-container a:hover > div {
    transform: scale(1.03);
    margin-top: -10px;
}

.grid-container a img {
    transition: all 0.25s;
}

.grid-container a:hover img {
    transform: scale(1.1);
}

.right, .left, .middle {
    overflow: hidden;
}

body > div:nth-child(5) {
    display: flex;
    justify-content: center;
    align-content: center;
}

#popup input{
    display: block;
    margin-bottom: 20px;
}

#popupcont {

display: flex;
align-content: center;
justify-content: center;
    
}

.logout {
    float: right;
}

header {
    height: 90px;
}

header h1 {
    float: left;
}

.logout {
    margin-top: 35px;
}

.grid-container a img {
    width: 100%;
}

ul.colors {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.colors li {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 30px;
    background-color: red;
    cursor: pointer;
}

ul.colors .red {
    background-color: red;
}

ul.colors .blue {
    background-color: blue;
}

ul.colors .green {
    background-color: green;
}

ul.colors .orange {
    background-color: orange;
}

.culoare-activa {
   /* transform: scale(1.3); */
}